@mixin hidden {
    font-size: 0;
    text-indent: -9999px;
    line-height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    letter-spacing: 0;
}

@mixin max-width-margin {
    max-width: $max-width;
    margin: 0 auto;
}

@mixin basic-transition($property, $delay) {
    transition: $property $delay ease-in-out;
}

@mixin default-input {
    height: 35px;
    display: flex;
    align-items: center;

    border: 1px solid $light-blue-gray;
    box-shadow: 0 0 5px $t-gray-40;
    padding: 8px 58px 8px 8px;
    min-width: 450px;
    border-radius: 2px;

    font-size: 1rem;
}