brainstorming/
ressources/
inspiration/
static/assets
static/node_modules

/autre-monde/*.py[cod]
/autre-monde/.*
/autre-monde/!.babelrc
/autre-monde/!.codeclimate.yml
/autre-monde/!.coveragerc
/autre-monde/!.dockerignore
/autre-monde/!.eslintrc.json
/autre-monde/!.flowconfig
/autre-monde/!.github
/autre-monde/!.gitignore
/autre-monde/!.nvmrc
/autre-monde/!.pylintrc
/autre-monde/!.travis*
/autre-monde/!.tx
/autre-monde/*.css
/autre-monde/*.log
/autre-monde/*.pot
/autre-monde/*.pyc
/autre-monde/local_settings.py
/autre-monde/__pycache__/
/autre-monde/build/
/autre-monde/dist/
/autre-monde/*\.egg*
/autre-monde/# data
/autre-monde/docs/_build/
/autre-monde/media/
/autre-monde/node_modules/
/autre-monde/static/
/autre-monde/saleor/static/assets/
/autre-monde/webpack-bundle.json
/autre-monde/templates/templated_email/compiled/*
/autre-monde/!/templates/templated_email/compiled/.gitkeep