.catalogue-categories {
    color: $am-blue;
}

.catalogue-categories__title {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.catalogue-categories__item {
    border-bottom: 1px solid $light-blue-gray;
    padding: 10px 0;
    color: $am-blue;

    &--has-children {
        .catalogue-categories__link-wrapper {
            margin-bottom: 3px;
        }
    }
}

.catalogue-categories__link-wrapper {
    position: relative; 
    text-transform: uppercase;  
    transition: font-weight $delay ease-out;

    &--current {
        font-weight: 500;
    }

    &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: currentColor;
        position: absolute;
        left: 0;
        opacity: 0;
        bottom: 2px;
        transition: transform $delay ease-out;
    }
}

.catalogue-categories__sub-item {
    padding: 5px 0 0 20px;
}

.catalogue-categories__sub-link {
    transition: font-weight $delay ease-out;

    &:hover, &:focus {
        font-weight: 500;
    }
}

.catalogue-categories__sub-link-wrapper {

    &--current {
        font-weight: 500;
    }
}

.catalogue-categories__link-wrapper:hover, .catalogue-categories__link-wrapper:focus {
    font-weight: 500;
    
    &:not(.catalogue-categories__link-wrapper--current)::after {
        opacity: 1;
        transform: translateY(3px);
    }
}

.catalogue-categories__link:focus {
    font-weight: 500;
}