{% load i18n %}
{% load staticfiles %}
{% load taxed_prices %}
{% load product_first_image from product_images %}
{% load get_thumbnail from product_images %}
{% load placeholder %}


<div class="products-h-list__list">
    {% if cs_products %}
    {% for product in cs_products %}
    <a href="{{ product.get_absolute_url }}" title="Aller sur la page du produit {{ product }}" class="products-h-list__product product product-h-thumb product-h-thumb--coming-soon">
        <div class="product__img-wrapper">
            <img 
                alt="" 
                class="product__img" 
                width="80" 
                height="80"
                src="{% product_first_image product method="crop" size="60x60" %}"
                srcset="{% product_first_image product method="crop" size="60x60" %} 1x, {% product_first_image product method="crop" size="120x120" %} 2x"
            >
        </div>
        <div class="product__infos">
            <span class="product__title">{{ product }}</span>
            <div class="product__short-desc">{{ product.description|safe|truncatechars:100 }}</div>
            <div class="product__more-infos">
                <div>
                    {% comment %} if épuisé, elif sur commande, elif.. -> {% endcomment %}
                    {% if product.is_in_stock %}
                    <span class="more-info more-info__stock--stock">En stock</span>
                    {% elif product.on_order %}
                    <span class="more-info more-info__stock--order">Sur commande</span>
                    {% else %}
                    <span class="more-info more-info__stock--rupture">En rupture</span>
                    {% endif %}
                </div>
                <div class="more-info more-info__price">
                    {% for i in product.price_indicator %}
                    <svg class="more-info__price__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  width="15px" height="15px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10 14" style="enable-background:new 0 0 10 14;" xml:space="preserve">
                        <path d="M6.4,2.7c-1.6,0-2.8,1-3.3,2.6h4c0.5,0,0.6,0.4,0.6,0.6c0,0.2-0.1,0.6-0.6,0.6H2.9c0,0.3-0.1,0.6-0.1,0.9
                            c0,0.2,0,0.6,0,0.8h3.4c0.5,0,0.6,0.4,0.6,0.6c0,0.2-0.1,0.6-0.6,0.6H3c0.3,1.5,1.6,2.6,3.3,2.6c0.6,0,1.1-0.1,1.6-0.3
                            c0.1-0.1,0.3-0.1,0.4-0.1c0.4,0,0.6,0.3,0.6,0.7c0,0.2-0.1,0.4-0.5,0.7c-0.6,0.3-1.4,0.5-2.2,0.5c-2.8,0-4.3-1.9-4.8-4H0.9
                            C0.4,9.3,0.3,9,0.3,8.8c0-0.2,0.1-0.6,0.6-0.6h0.4c0-0.2,0-0.5,0-0.8c0-0.3,0-0.7,0-0.9H1c-0.5,0-0.6-0.4-0.6-0.6
                            c0-0.2,0.1-0.6,0.6-0.6h0.6c0.6-2.5,2.5-4,4.9-4c0.6,0,1.4,0.1,1.8,0.3c0.5,0.2,0.6,0.4,0.6,0.7C8.9,2.7,8.6,3,8.2,3
                            C8.1,3,7.9,3,7.8,2.9C7.4,2.8,6.9,2.7,6.4,2.7z"/>
                    </svg>   
                    {% endfor %} 
                </div>
            </div>
        </div>
        <div class="product__arrow">
            <svg class="product__arrow-icon" width="12px" height="21px" viewBox="0 0 12 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M11.5682563,11.539608 L2.51654796,20.568994 C1.94074997,21.1436687 1.00719223,21.1436687 0.431673781,20.568994 C-0.14389126,19.9948307 -0.14389126,19.0635929 0.431673781,18.489476 L8.44103824,10.499849 L0.431906728,2.51050079 C-0.143658314,1.93610503 -0.143658314,1.0049602 0.431906728,0.430796818 C1.00747177,-0.143598939 1.94098292,-0.143598939 2.51678091,0.430796818 L11.5684893,9.4603223 C11.8562718,9.74754342 12,10.12358 12,10.4998025 C12,10.8762109 11.8559923,11.2525263 11.5682563,11.539608 Z" id="Shape"></path>
            </svg>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <div class="no-results no-results--home">
        <div class="no-results__content">
            <p>Il n'y a pas de produits à venir pour le moment</p>
        </div>
    </div>
    {% endif %}
</div>

{% comment %} price and stuff {% endcomment %}
{% comment %} {% if availability.available %}
{% price_range availability.price_range %}
{% if availability.discount %}
    {% if availability.price_range_undiscounted.start != availability.price_range.start %}
    <div class="product-list__sale">
        <svg data-src="{% static "images/sale-bg.svg" %}" />
        <span class="product-list__sale__text">
        {% trans "Sale" context "Sale (discount) label for item in product list" %}
        </span>
    </div>
    {% endif %}
{% endif %}
{% else %}
&nbsp;
{% endif %} {% endcomment %}