{% load i18n %}
{% load staticfiles %}
{% load shop %}

<div id="am-catalogue-filters" class="catalogue__filters catalogue-filters">  
  <div id="am-catalogue-filters-title" class="catalogue-filters__title deploy-title">
      <div class="catalogue-filters__title-icon deploy-title__icon">
              <svg width="16" height="13" xmlns="http://www.w3.org/2000/svg"><path d="M8 13L0 0h16z" /></svg>
      </div>
      <span class="catalogue-filters__title-text deploy-title__text">Filtrer les résultats</span>
  </div>
  <form method="get" class="catalogue-filters__form">
      <div class="catalogue-filters__filters">
          <ul class="catalogue-filters__checkboxes">
          {% for field in filter_set.form %}
            {% if field.name == 'sort_by' %}
              {% comment %}
                Field 'sort_by' is hidden because it is rendered in header.
                This is required if you want to have sorting to be kept during further filtering.
              {% endcomment %}
              <li class="hidden">
                  <input type="hidden" name="sort_by" value="{% if request.GET.sort_by %}{{ request.GET.sort_by }}{% endif %}">
              </li>
            {% elif field.name == 'price' %}
            {% else %}
            <li class="catalogue-filters__checkbox">
            
                <div class="filter-section__header">
                  <h3>{{ field.label }}</h3>
                </div>
                {{ field }}
               
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    <div class="catalogue-filters__buttons">
        <!-- <a href="../" class="catalogue-filters__button catalogue-filters__button--clear">
          Supprimer les filtres
        </a> -->
        <input class="catalogue-filters__button catalogue-filters__button--submit" type="submit" value="Appliquer les filtres">        
    </div>
  </form>
</div>