{% extends "base.html" %}

{% load bootstrap_field from bootstrap4 %}
{% load build_absolute_uri from urls %}
{% load get_object_properties from attributes %}
{% load get_thumbnail product_first_image from product_images %}
{% load i18n %}
{% load markdown from markdown %}
{% load placeholder %}
{% load staticfiles %}
{% load taxed_prices %}

{% block title %}
  {% if product.seo_title %}
    {{ product.seo_title }}
  {% else %}
    {{ product.name }} - {{ block.super }}
  {% endif %}
{% endblock %}

{% block meta_tags %}
  <meta property="og:title" content="{{ product.seo_title|default:product.name }}">
  <meta property="og:description" content="{{ product.seo_description|default:"" }}">
  <meta name="description" content="{{ product.seo_description|default:"" }}">

  {% build_absolute_uri request=request location=product.get_absolute_url as product_url %}
  <meta property="og:url" content="{{ product_url }}">
  <link rel="canonical" href="{{ product_url }}">

  {% product_first_image product size="510x510" as product_image %}
  {% if product_image %}
    <meta property="og:image" content="{{ product_image }}" />
    <meta property="og:image:width" content="510">
    <meta property="og:image:height" content="510">
  {% else %}
    <meta property="og:image" content="{% static "images/block1.png" %}">
  {% endif %}
{% endblock meta_tags %}

{% block breadcrumb %}
<div class="breadcrumb">
  <ul class="breadcrumb__list">
      <li class="breadcrumb__item">
        <a class="breadcrumb__link" href="{% url 'home' %}" title="Aller sur la page accueil">Accueil</a>
      </li>
      <li class="breadcrumb__item">
        <a class="breadcrumb__link" href="{% url "product:category-list" %}" title="Aller sur la page du catalogue">Catalogue</a>
      </li>
      {% if product.category %}
      {% for ancestor in product.category.get_ancestors %}
      <li class="breadcrumb__item">
        <a class="breadcrumb__link" href='{{ ancestor.get_absolute_url }}'>{{ ancestor.name }}</a>
      </li>
      {% endfor %}
      <li class="breadcrumb__item">
        <a class="breadcrumb__link" href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
      </li>
      {% endif %}
      <li class="breadcrumb__item breadcrumb__item--current">
        {{ product }}
      </li>
  </ul>
</div>
{% endblock breadcrumb %}

{% block content %}
  {% if not is_visible %}
    <div class="alert alert-warning" role="alert">
      {% blocktrans trimmed with date=product.available_on|date context "Product details text" %}
        <strong>Warning!</strong>
        You are previewing a product that will become visible on <strong>{{ date }}</strong>.
      {% endblocktrans %}
    </div>
  {% endif %}
  <section class="single-product">
      <div class="single-product__infos">
          <div class="single-product__infos__main">
              <h2 class="single-product__title main-title">{{ product }}</h2>
              
              <div class="single-product__tags">
                {% if product.release_status == 'cs' %}
                <div class="single-product__tag tag__release tag__release--cs">
                  À venir
                </div>
                {% elif product.release_status == 'news' %}
                <div class="single-product__tag tag__release tag__release--news">
                    Nouveauté
                </div>
                {% endif %}

                <div>
                    {% comment %} if épuisé, elif sur commande, elif.. -> {% endcomment %}
                    {% if product.is_in_stock %}
                    <span class="single-product__tag tag__stock tag__stock--stock">En stock</span>
                    {% elif product.on_order %}
                    <span class="single-product__tag tag__stock tag__stock--order-only">Sur commande</span>
                    {% else %}
                    <span class="single-product__tag tag__stock tag__stock--rupture">En rupture</span>
                    {% endif %}
                </div>
                
                <div class="single-product__tag tag__price">
                  {% for i in product.price_indicator %}
                  <svg class="tag__price__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  width="15px" height="15px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10 14" style="enable-background:new 0 0 10 14;" xml:space="preserve">
                    <path d="M6.4,2.7c-1.6,0-2.8,1-3.3,2.6h4c0.5,0,0.6,0.4,0.6,0.6c0,0.2-0.1,0.6-0.6,0.6H2.9c0,0.3-0.1,0.6-0.1,0.9
                        c0,0.2,0,0.6,0,0.8h3.4c0.5,0,0.6,0.4,0.6,0.6c0,0.2-0.1,0.6-0.6,0.6H3c0.3,1.5,1.6,2.6,3.3,2.6c0.6,0,1.1-0.1,1.6-0.3
                        c0.1-0.1,0.3-0.1,0.4-0.1c0.4,0,0.6,0.3,0.6,0.7c0,0.2-0.1,0.4-0.5,0.7c-0.6,0.3-1.4,0.5-2.2,0.5c-2.8,0-4.3-1.9-4.8-4H0.9
                        C0.4,9.3,0.3,9,0.3,8.8c0-0.2,0.1-0.6,0.6-0.6h0.4c0-0.2,0-0.5,0-0.8c0-0.3,0-0.7,0-0.9H1c-0.5,0-0.6-0.4-0.6-0.6
                        c0-0.2,0.1-0.6,0.6-0.6h0.6c0.6-2.5,2.5-4,4.9-4c0.6,0,1.4,0.1,1.8,0.3c0.5,0.2,0.6,0.4,0.6,0.7C8.9,2.7,8.6,3,8.2,3
                        C8.1,3,7.9,3,7.8,2.9C7.4,2.8,6.9,2.7,6.4,2.7z"/>
                  </svg>   
                  {% endfor %} 
                </div>
              </div>

              {% if user.is_staff %}
              <span class="single-product__edit-dashboard">
                <a href="{% url "dashboard:product-details" pk=product.pk %}">
                  {% trans "Edit in dashboard" context "Product details link text" %}
                </a>
              </span>
              {% endif %}

              <div class="single-product__description">
                      {{ product.description|safe }}
              </div>
              <dl class="single-product__base-infos">
                <div class="single-product-specifications__item">
                    <dt class="single-product-specifications__item__term">Catégorie&nbsp;:</dt>
                    <dd class="single-product-specifications__item__definition">{{ product.category }}</dd>
                </div>
                <div class="single-product-specifications__item">
                  <dt class="single-product-specifications__item__term">Date de sortie&nbsp;:</dt>
                  <dd class="single-product-specifications__item__definition">{{ product.release_date }}</dd>
                </div>
              </dl>              
          </div>
          
          {% if product_attributes.items %}
          <div id="am-product-specifications" class="single-product__specifications single-product-specifications">
              <div id="am-product-specifications-title" class="single-product-specifications__title deploy-title">
                  <svg class="single-product-specifications__title__icon deploy-title__icon" width="16" height="13" xmlns="http://www.w3.org/2000/svg"><path d="M8 13L0 0h16z" /></svg>
                  <span class="single-product-specifications__title__text deploy-title__text">Informations supplémentaires</span>
              </div>
              <div class="single-product-specifications__inner">
                  <dl class="single-product-specifications__list">
                      {% for attribute, value in product_attributes.items %}
                      <div class="single-product-specifications__item">
                          <dt class="single-product-specifications__item__term">{{ attribute }}&nbsp;:</dt>
                          <dd class="single-product-specifications__item__definition">{{ value }}</dd>
                      </div>
                      {% endfor %}
                  </dl>
              </div>
          </div>
          {% endif %}
      </div>
    
      <script type="application/ld+json">{{ json_ld_product_data|safe }}</script>
      <div class="single-product__images product__gallery">
          {% with images=product_images %}
            {% if images %}
              <div id="carousel-example-generic" class="carousel slide">
                <div class="carousel-inner" role="listbox">
                  {% for image in images %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                      <img class="d-block img-fluid lazyload lazypreload"
                           data-src="{% get_thumbnail image.image method="crop" size="540x540" %}"
                           data-srcset="{% get_thumbnail image.image method="crop" size="540x540" %} 1x, {% get_thumbnail image.image method="crop" size="1080x1080" %} 2x"
                           alt=""
                           src="{% placeholder size=500 %}">
                    </div>
                  {% endfor %}
                </div>
                {% if images|length > 1 %}
                  <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                    <svg data-src="{% static "images/gallery-arrow.svg" %}" />
                  </a>
                  <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                    <svg data-src="{% static "images/gallery-arrow.svg" %}" />
                  </a>
                {% endif %}
                <ol class="carousel-indicators d-none d-md-block">
                  {% for image in images %}
                    {% if images|length > 1 %}
                      <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}>
                        <img data-src="{% get_thumbnail image.image method="crop" size="60x60" %}"
                             data-srcset="{% get_thumbnail image.image method="crop" size="60x60" %} 1x, {% get_thumbnail image.image method="crop" size="120x120" %} 2x"
                             alt=""
                             class="lazyload lazypreload"
                             src="{% placeholder size=60 %}">
                      </li>
                    {% endif %}
                  {% endfor %}
                </ol>
              </div>
            {% else %}
              <img data-src="{% placeholder size=500 %}"
                   data-srcset="{% placeholder size=500 %} 1x, {% placeholder size=1000 %} 2x"
                   alt=""
                   class="img-fluid lazyload lazypreload">
            {% endif %}
          {% endwith %}
      </div>
  </section>
  <div class="single-product__cta">
    <div class="single-product__cta__inner">
        Des questions par rapport à ce produit&nbsp;?
        <a title="Nous contacter à propos de ce produit" href="{{ product.get_contact_url }}#am-contact-form" class="single-product__cta-button cta cta--white">Nous contacter</a>
    </div>
  </div>
{% endblock %}
