{% load i18n %}
{% load staticfiles %}
{% load price_range from taxed_prices %}
{% load product_first_image from product_images %}
{% load get_thumbnail from product_images %}


{% for product, availability in products %}
<li class="catalogue-products__item">
    <a href="{{ product.get_absolute_url }}" title="Aller sur la page du produit {{ product }}" class="catalogue-products__link product product-thumb">
        <div class="product__img-wrapper">
            <img 
                alt="" 
                class="product__img" 
                width="100" 
                height="100"
                src="{% product_first_image product method="crop" size="60x60" %}"
                srcset="{% product_first_image product method="crop" size="60x60" %} 1x, {% product_first_image product method="crop" size="120x120" %} 2x"
            >
        </div>
        <div class="product__infos">
            <span class="product__title">{{ product }}</span>
            <div class="product__short-desc">{{ product.description|safe|truncatechars:80 }}</div>
            <div class="product__more-infos">
                <div class="">
                    {% if product.release_status == 'cs' %}
                    <div class="more-info more-info__release more-info__release--cs">
                        À venir
                    </div>
                    {% elif product.release_status == 'news' %}
                    <div class="more-info more-info__release more-info__release--news">
                        Nouveauté
                    </div>
                    {% endif %}
                </div>
                <div>
                    {% comment %} if épuisé, elif sur commande, elif.. -> {% endcomment %}
                    {% if product.is_in_stock %}
                    <span class="more-info more-info__stock--stock">En stock</span>
                    {% elif product.on_order %}
                    <span class="more-info more-info__stock--order">Sur commande</span>
                    {% else %}
                    <span class="more-info more-info__stock--rupture">En rupture</span>
                    {% endif %}
                </div>
                <div class="more-info more-info__price">
                    {% for i in product.price_indicator %}
                    <svg class="more-info__price__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  width="15px" height="15px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10 14" style="enable-background:new 0 0 10 14;" xml:space="preserve">
                        <path d="M6.4,2.7c-1.6,0-2.8,1-3.3,2.6h4c0.5,0,0.6,0.4,0.6,0.6c0,0.2-0.1,0.6-0.6,0.6H2.9c0,0.3-0.1,0.6-0.1,0.9
                            c0,0.2,0,0.6,0,0.8h3.4c0.5,0,0.6,0.4,0.6,0.6c0,0.2-0.1,0.6-0.6,0.6H3c0.3,1.5,1.6,2.6,3.3,2.6c0.6,0,1.1-0.1,1.6-0.3
                            c0.1-0.1,0.3-0.1,0.4-0.1c0.4,0,0.6,0.3,0.6,0.7c0,0.2-0.1,0.4-0.5,0.7c-0.6,0.3-1.4,0.5-2.2,0.5c-2.8,0-4.3-1.9-4.8-4H0.9
                            C0.4,9.3,0.3,9,0.3,8.8c0-0.2,0.1-0.6,0.6-0.6h0.4c0-0.2,0-0.5,0-0.8c0-0.3,0-0.7,0-0.9H1c-0.5,0-0.6-0.4-0.6-0.6
                            c0-0.2,0.1-0.6,0.6-0.6h0.6c0.6-2.5,2.5-4,4.9-4c0.6,0,1.4,0.1,1.8,0.3c0.5,0.2,0.6,0.4,0.6,0.7C8.9,2.7,8.6,3,8.2,3
                            C8.1,3,7.9,3,7.8,2.9C7.4,2.8,6.9,2.7,6.4,2.7z"/>
                    </svg>   
                    {% endfor %} 
                </div>
            </div>
        </div>
    </a>
</li>
{% endfor %}


{% comment %} {% for product, availability in products %}
<div class="col-6 col-lg-3 product-list">
  <a href="{{ product.get_absolute_url }}" class="link--clean">
    <div class="text-center">
      <div>
        <img class="img-responsive"
             src="{% product_first_image product method="crop" size="255x255" %}"
             srcset="{% product_first_image product method="crop" size="255x255" %} 1x, {% product_first_image product method="crop" size="510x510" %} 2x"
             alt="">
        <span class="product-list-item-name" title="{{ product }}">{{ product }}</span>
      </div>

      <div class="panel-footer">
        {% price_range availability.price_range %}

        {% if availability.on_sale %}
          <div class="product-list__sale">
            <svg data-src="{% static "images/sale-bg.svg" %}" />
            <span class="product-list__sale__text"> {% endcomment %}
              {% comment %}Translators: Layout may break if character length is different than four.{% endcomment %}
              {% comment %} {% trans "Sale" context "Sale (discount) label for item in product list" %}
            </span>
          </div>
        {% endif %}
      </div>
    </div>
  </a>
</div>
{% endfor %} {% endcomment %}