{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <main class="main main__home">
    <div class="home__banner banner">
        <div class="banner__text">
              Votre magasin spécialisé à Liège en jeux de rôle, de cartes, de figurines et de société&nbsp;!
        </div>
    </div>
    <div class="home__featured">
      <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
      <div class="row">
        {% include "product/_items.html" %}
      </div>
    </div>
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </main>
{% endblock %}
