{% url 'home' as home_url %}
<div id="am-main-nav-blocker" class="main-nav__blocker"></div>
<div class="main-nav__close">
    <span class="main-nav__close-button" id="am-close-menu">
        <svg class="main-nav__close-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M505.943 6.058c-8.077-8.077-21.172-8.077-29.249 0L6.058 476.693c-8.077 8.077-8.077 21.172 0 29.249A20.612 20.612 0 0 0 20.683 512a20.614 20.614 0 0 0 14.625-6.059L505.943 35.306c8.076-8.076 8.076-21.171 0-29.248z"/><path d="M505.942 476.694L35.306 6.059c-8.076-8.077-21.172-8.077-29.248 0-8.077 8.076-8.077 21.171 0 29.248l470.636 470.636a20.616 20.616 0 0 0 14.625 6.058 20.615 20.615 0 0 0 14.624-6.057c8.075-8.078 8.075-21.173-.001-29.25z"/></svg>
    </span>
</div>
<ul class="main-nav__list">
    <li class="main-nav__item"><a class="main-nav__link" href="{% url 'home' %}" title="Aller sur la page X">Accueil</a></li>
    <li class="main-nav__item main-nav__item--catalogue"><a class="main-nav__link" href="{% url "product:category-list" %}" title="Aller sur la page X">Catalogue</a>
        <ul id="am-sub-nav" class="main-nav__sub-nav">
            {% for item in menu_items %}
            <li class="main-nav__sub-item"><a class="main-nav__sub-link" href="{{ item.get_url }}">{{ item }}</a></li>
            {% endfor %}
        </ul>
        <span class="main-nav__sub-nav-toggle" id="am-sub-nav-toggle">
            <svg width="16" height="13" xmlns="http://www.w3.org/2000/svg"><path d="M8 13L0 0h16z" /></svg>
        </span>
    </li>
    <li class="main-nav__item"><a class="main-nav__link" href="./events.html" title="Aller sur la page X">Calendrier</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="{% url "about:about" %}" title="Aller sur la page X">Plus d'infos</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="./photos.html" title="Aller sur la page X">Photos</a></li>
</ul>