.product-h-thumb {
    border-radius: 1px;
    padding: 30px 40px 30px 30px;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 575px;
    height: 160px;
    transition: all 0.12s ease-in;
    overflow: hidden;

    .product__img-wrapper {
        margin-right: 10px;
    }
    
    .product__arrow {
        position: absolute;
        right: 20px;
        top: calc(50% - 10px);
    }

    .product__infos {
        transition: transform $delay ease-out;
    }

    .product__more-infos {
        max-width: 100%;
        opacity: 1;
        // position: absolute;
        // bottom: 15px;
        // left: calc(30px + 80px + 10px);
        // transition: opacity $delay ease-out;
    }    

    // &:hover, &:focus {
    
    //     .product__more-infos {
    //         opacity: 1;
    //     }
    // }

    border-left-width: 5px;
    border-left-style: solid;
}

.product-h-thumb--news {
    border-color: $new-product;
}

.product-h-thumb--coming-soon {
    border-color: $coming-soon-product;
}

.product-h-thumb:hover, .product-h-thumb:focus {
    height: 180px;
    position: relative;
    margin: 10px 0;
    box-shadow: 0 0 7px 6px $t-gray-25;
}

@media screen and (max-width: 1000px) {
    .product-h-thumb {
        height: 200px;
        padding: 10px 20px 10px 10px;
    }

    .product-h-thumb:hover, .product-h-thumb:focus {
        height: 220px;
    }
    
}


@media screen and (max-width: 850px) {
    .product-h-thumb {
        padding: 20px 30px 20px 20px;
        max-width: 100%;
        height: 160px;

        .product__arrow {
            right: 10px;
        }
    }

    .product-h-thumb:hover, .product-h-thumb:focus {
        height: 180px;
    }
}

@media screen and (max-width: 450px) {

    .product-h-thumb {
        padding: 10px 20px 10px 10px;
        max-width: 100%;
        min-height: 200px;
        height: auto;
        position: relative;

        .product__arrow {
            display: none;
        }

        // .product__more-infos {
        //     opacity: 1;
        //     max-height: none;
        //     position: relative;
        //     top: 0;
        // }
    
        // .product:hover, .product:focus {
        //     .product__infos {
        //         transform: translateY(0);
        //     }
        // }
    }

    .product-h-thumb:hover, .product-h-thumb:focus {
        height: auto;
        margin: 10px 0;
    }
}