{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}
  {% if product.pk %}
    {% trans "Edit" context "Dashboard products list" %} - {{ product }}
  {% else %}
    {% trans "Add new product" context "Product form page title" %}
  {% endif %}
   - {{ block.super }}
{% endblock %}

{% block body_class %}body-products{% endblock %}
{% block fb_login_script %}
  {% comment %} <script>
      const checkLoginStatus = function () {
        let isDeclined = false
        FB.getLoginStatus(function(response) {
          toggleLoginButton(response);
          if(response.status == 'connected') {
            FB.api('/me/permissions', function(response) {
              for (i = 0; i < response.data.length; i++) { 
                if (response.data[i].status == 'declined') {
                  isDeclined = true
                }
              }
              if(isDeclined) {
                  window.alert('Les autorisations demandées sont nécessaires à la publication de ce produit sur Facebook. Si vous ne les donnez pas toutes, nous ne seront pas en mesure d\'effectuer cette action.')
              }
            });
            if(!isDeclined && !document.getElementById('user-token')) {
              let form = document.getElementById('form-product')
              hiddenField = document.createElement('INPUT')
              hiddenField.setAttribute('type', 'hidden')
              hiddenField.setAttribute('value', response.authResponse.accessToken)
              hiddenField.setAttribute('name', 'userToken')
              hiddenField.setAttribute('id', 'user-token')
              form.appendChild(hiddenField)
            }
          }
        });
      }
      const toggleLoginButton = function (response) {
        let loginButton = document.getElementById('fb-login-button')
        let status = response.status
        if(status == 'connected') {
          loginButton.classList.add('hidden')
        } else {
          loginButton.classList.remove('hidden')
        }
      }

      

      window.fbAsyncInit = function() {
        FB.init({
          appId            : 'your-app-id',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v3.0'
        });

        checkLoginStatus()
        



      };
    
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.0&appId=1829835427319504&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));


  </script> {% endcomment %}
{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:product-list" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:product-list" %}" class="breadcrumb">
        {% trans "Products" context "Dashboard products list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:product-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      {% if product.pk %}
        <a href="{% url "dashboard:product-details" pk=product.pk %}" class="breadcrumbs--ellipsed-item">
          {{ product }}
        </a>
      {% else %}
        <span class="breadcrumbs--ellipsed-item">
          {% trans "Add new product" context "Product form breadcrumbs" %}
        </span>
      {% endif %}
    </li>
    {% if product.pk %}
      <li>
        <span class="breadcrumbs--ellipsed-item">
          {% trans "Edit" context "Product form breadcrumbs" %}
        </span>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="tab-content" id="details">
    <div class="row">
      <div class="col m12 l9">
        <form method="post" class="card" id="form-product" novalidate>
          {% csrf_token %}
          <div class="card-content">
            <div class="row">
              <div class="col s12 l8" >
                <div class="row">
                  {{ product_form.name|materializecss }}
                </div>
                <div class="row">
                  {{ product_form.description|materializecss }}
                </div>
                <span class="card-title">Disponibilité</span>
                <div class="row">
                  <div class="col s12 m3">
                    {{ product_form.is_published|materializecss }}
                  </div>
                  <div class="col s12 m9">
                    {{ product_form.available_on|materializecss }}
                  </div>
                </div>
                <span class="card-title">Caractéristiques du produit</span>
                <div class="row">
                  {{ product_form.release_date|materializecss }}
                </div>
                <div class="row">
                  {{ product_form.category|materializecss }}
                </div>
                <div class="row">
                    {{ product_form.distributor|materializecss }}
                </div>
                <div class="row">
                  {{ product_form.product_reference|materializecss }}
                </div>
                <div class="row">
                  {{ product_form.content|materializecss }}
                </div>

                {% comment %} {% include "dashboard/includes/_google_preview.html" with object=product form=product_form %} {% endcomment %}
              </div>
              <div class="col s12 l4">
                <div class="row">
                  {{ product_form.price|materializecss }}
                </div>
                <div class="row">
                  {{ product_form.tax_rate|materializecss }}
                  {{ product_form.charge_taxes|materializecss }}
                </div>
                {% if not product.product_type.has_variants %}
                  <div class="row">
                    {{ variant_form.sku|materializecss }}
                  </div>
                {% endif %}
                <div class="row is_featured_checkbox">
                    {{ product_form.on_order|materializecss }}
                </div> 
                {% comment %} <div class="row">
                  {{ product_form.collections|materializecss }}
                </div>
                <div class="row is_featured_checkbox">
                    {{ product_form.is_featured|materializecss }}
                </div> {% endcomment %}
                <span class="card-title">{% trans "Attributes" %}</span>
                <br>
                <h6>
                  {% blocktrans with product_type_name=product.product_type %}
                    Product Type: {{ product_type_name }}
                  {% endblocktrans %}
                </h6>
                <br>
                {% for attribute_field in product_form.iter_attribute_fields %}
                  <div class="row attribute-select-or-create">
                    {{ attribute_field|materializecss:"input-field s12" }}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            {% if product.pk %}
              <a href="{% url 'dashboard:product-details' product.pk %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Save" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{% url 'dashboard:product-list' %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
      <div class="col m12 l3 help-box"></div>
    </div>
  </div>
  {% comment %} <div class="facebook-login">  
    <div id="fb-login-button" onlogin="checkLoginStatus()" class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" data-scope="manage_pages, publish_pages"></div>
  </div> {% endcomment %}
{% endblock %}
