{% extends "product/_filters.html" %}

{% block title_tree %}
  {% with children=category.get_children %}
    {% if children %}
      {% comment %} <div class="product-filters__categories">
        <ul class="product-filters__categories__childs no-parent">
          {% for child in children %}
            <li>
              <a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div> {% endcomment %}
    {% endif %}
  {% endwith %}
{% endblock title_tree %}
