.top-nav-user {
    display: flex;
    justify-content: flex-end;
}

.top-nav-user__infos {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    &--username {
        cursor: pointer;
        text-decoration: underline;
        color: $accent-red;
        font-weight: 600;
        line-height: 1;
    }
}

.top-nav-user__infos__links {
    font-weight: 450;
    font-size: 0.85rem;
    color: $dark-blue;
    margin-top: 2px;
}

@media screen and (max-width: 870px) {
    .top-nav-user__infos__links {
        display: flex;
        flex-direction: column;
        line-height: 1;
    }
}


@media screen and (max-width: 750px) {

    .top-nav-user__infos {
        margin-left: 5px;

        &--username {
            color: white;
        }
    }

    .top-nav-user__infos__links {
        color: white;
        font-weight: 400;
    }

    .top-nav-user__avatar {
        display: none;
    }
}