{% extends "base.html" %}
{% load i18n %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="{% url 'home' %}" title="Aller sur la page accueil">Accueil</a></li>
            <li class="breadcrumb__item breadcrumb__item--current">Calendrier</li>
        </ul>
    </div>
{% endblock breadcrumb %}

{% block content %}
<section class="calendar">
        <h2 class="calendar__title main-title">Calendrier</h2>
        <div class="calendar__header-line">
            {% comment %} <form class="calendar__filters">
                <span class="calendar__filters__title">Filtrer par&nbsp;:</span>
                <ul class="calendar__filters__checkboxes">
                    <li class="calendar__filters__checkbox calendar__filters__checkbox--events">
                        <label for="events" class="calendar__filters__checkbox-label">Évènements</label>
                        <input type="checkbox" id="events" name="events" class="calendar__filters__checkbox-input">
                        <span class="calendar__filters__custom-checkbox"></span>
                    </li>
                    <li class="calendar__filters__checkbox calendar__filters__checkbox--news">
                        <label for="news" class="calendar__filters__checkbox-label">Nouveautés</label>
                        <input type="checkbox" id="news" name="news" class="calendar__filters__checkbox-input">
                        <span class="calendar__filters__custom-checkbox"></span>
                    </li>
                </ul>

                <!-- bouton à cacher -->
                <input class="hidden" type="submit" value="Filtrer">
            </form> {% endcomment %}

            <div class="calendar__month-selection">
                <a class="calendar__month-selection__arrow calendar__month-selection__arrow--left" href="{% url 'events:calendar-date' date=previous_month %}">
                    <svg class="calendar__month-selection__arrow__icon" version="1.1"  width="12px" height="21px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 21" xml:space="preserve">
                        <path d="M0.4,9.5l9.1-9c0.6-0.6,1.5-0.6,2.1,0c0.6,0.6,0.6,1.5,0,2.1l-8,8l8,8c0.6,0.6,0.6,1.5,0,2.1 c-0.6,0.6-1.5,0.6-2.1,0l-9.1-9c-0.3-0.3-0.4-0.7-0.4-1C0,10.1,0.1,9.7,0.4,9.5z"/>
                    </svg>
                </a>
                <div class="calendar__month-selection__title">{{ formated_date }}</div>
                <a class="calendar__month-selection__arrow calendar__month-selection__arrow--right" href="{% url 'events:calendar-date' date=next_month %}">
                    <svg class="calendar__month-selection__arrow__icon" width="12px" height="21px" viewBox="0 0 12 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M11.5682563,11.539608 L2.51654796,20.568994 C1.94074997,21.1436687 1.00719223,21.1436687 0.431673781,20.568994 C-0.14389126,19.9948307 -0.14389126,19.0635929 0.431673781,18.489476 L8.44103824,10.499849 L0.431906728,2.51050079 C-0.143658314,1.93610503 -0.143658314,1.0049602 0.431906728,0.430796818 C1.00747177,-0.143598939 1.94098292,-0.143598939 2.51678091,0.430796818 L11.5684893,9.4603223 C11.8562718,9.74754342 12,10.12358 12,10.4998025 C12,10.8762109 11.8559923,11.2525263 11.5682563,11.539608 Z" id="Shape"></path>
                    </svg>
                </a>
            </div>

            <div class="calendar__display"> </div>
        </div>

        <div class="calendar__days">
            <ul class="calendar__days__list">

                {% for day in release_days %}
                
                <li class="calendar__days__item">
                    <div class="calendar-day__title">{{ day.formated_day }}</div>
                    <ul class="calendar-day__list">
                        {% for product in day.products %}
                        <li class="calendar-day__item">
                            <a href="{{ product.get_absolute_url }}" title="Aller sur la page du produit" class="calendar-day-event calendar-day-event--news">                                        
                                <div class="calendar-day-event__title">{{ product.name }}</div>
                                <div class="calendar-day-event__description">{{ product.description|safe|truncatechars:200 }}</div>
                            </a>
                        </li>
                        {% endfor %}

                        {% comment %} {% for event in day.events %}
                        
                        <li class="calendar-day__item">
                            <a href="{% event.fb_link %}" title="Aller sur la page de l'évènement" class="calendar-day-event calendar-day-event--event">                                        
                                <div class="calendar-day-event__title">FNM MTG (Draft){% event.title %}</div>
                                <div class="calendar-day-event__infos">
                                    <div class="calendar-day-event__infos__tip">
                                        <div class="calendar-day-event__infos__icon">
                                            <svg class="calendar-day-event__infos__icon__svg" width="15px" height="15px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
                                                <g>
                                                    <path d="M12.3928571,0 C5.55943878,0 0,5.55943878 0,12.3928571 C0,19.2262755 5.55943878,24.7857143 12.3928571,24.7857143 C19.2262755,24.7857143 24.7857143,19.2262755 24.7857143,12.3928571 C24.7857143,5.55943878 19.2262755,0 12.3928571,0 Z M12.3928571,22.1487245 C7.01352041,22.1487245 2.63673469,17.772449 2.63673469,12.3928571 C2.63673469,7.01326531 7.01352041,2.6369898 12.3928571,2.6369898 C17.7721939,2.6369898 22.1489796,7.01326531 22.1489796,12.3928571 C22.1489796,17.772449 17.7721939,22.1487245 12.3928571,22.1487245 Z" id="Shape"></path>
                                                    <path d="M18.8515306,12.0102041 L13.2821429,12.0102041 L13.2821429,5.31377551 C13.2821429,4.7502551 12.8252551,4.29336735 12.2617347,4.29336735 C11.6982143,4.29336735 11.2413265,4.7502551 11.2413265,5.31377551 L11.2413265,13.0306122 C11.2413265,13.5941327 11.6982143,14.0510204 12.2617347,14.0510204 L18.8515306,14.0510204 C19.415051,14.0510204 19.8719388,13.5941327 19.8719388,13.0306122 C19.8719388,12.4670918 19.415051,12.0102041 18.8515306,12.0102041 Z" id="Shape"></path>
                                                </g>              
                                            </svg>
                                        </div>
                                        <div class="calendar-day-event__infos__text">19:30 - 22:30{% event.start_time - event.end_time %}</div>
                                    </div>
                                    <div class="calendar-day-event__infos__tip">
                                        <div class="calendar-day-event__infos__icon">
                                            <svg class="calendar-day-event__infos__icon__svg" version="1.1" xmlns="http://www.w3.org/2000/svg"  width="15px" height="15px" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10 14" style="enable-background:new 0 0 10 14;" xml:space="preserve">
                                                <path d="M6.4,2.7c-1.6,0-2.8,1-3.3,2.6h4c0.5,0,0.6,0.4,0.6,0.6c0,0.2-0.1,0.6-0.6,0.6H2.9c0,0.3-0.1,0.6-0.1,0.9
                                                    c0,0.2,0,0.6,0,0.8h3.4c0.5,0,0.6,0.4,0.6,0.6c0,0.2-0.1,0.6-0.6,0.6H3c0.3,1.5,1.6,2.6,3.3,2.6c0.6,0,1.1-0.1,1.6-0.3
                                                    c0.1-0.1,0.3-0.1,0.4-0.1c0.4,0,0.6,0.3,0.6,0.7c0,0.2-0.1,0.4-0.5,0.7c-0.6,0.3-1.4,0.5-2.2,0.5c-2.8,0-4.3-1.9-4.8-4H0.9
                                                    C0.4,9.3,0.3,9,0.3,8.8c0-0.2,0.1-0.6,0.6-0.6h0.4c0-0.2,0-0.5,0-0.8c0-0.3,0-0.7,0-0.9H1c-0.5,0-0.6-0.4-0.6-0.6
                                                    c0-0.2,0.1-0.6,0.6-0.6h0.6c0.6-2.5,2.5-4,4.9-4c0.6,0,1.4,0.1,1.8,0.3c0.5,0.2,0.6,0.4,0.6,0.7C8.9,2.7,8.6,3,8.2,3
                                                    C8.1,3,7.9,3,7.8,2.9C7.4,2.8,6.9,2.7,6.4,2.7z"/>
                                        </svg>                                           
                                     </div>
                                        <div class="calendar-day-event__infos__text">25,00</div>
                                    </div>
                                </div>
                                <div class="calendar-day-event__description">Venez drafter avec nous le set Magic : Rivals of Ixalan !{% event.description %}</div>
                            </a>
                        </li> {% endcomment %}
                        {% comment %} {% endfor %} {% endcomment %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <a class="large-cta large-cta--calendar" title="Aller sur la page des photos" href="./photos.html">
        <span class="large-cta__text">Visitez notre galerie photos pour voir notre salle de jeu!</span>
    </a>
{% endblock %}