{% extends "base.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load bootstrap_pagination from bootstrap4 %}
{% load i18n %}
{% load i18n_address_tags %}
{% load price from taxed_prices %}
{% load staticfiles %}
{% load status %}

{% block title %}Votre compte — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="{% url 'home' %}" title="Aller sur la page accueil">Accueil</a></li>
            <li class="breadcrumb__item breadcrumb__item--current">{% trans "Your account" context "Main navigation item" %} (<b>{{ user.first_name|add:" "|add:user.last_name }}</b>)</li>
        </ul>
    </div>
{% endblock breadcrumb %}


{% block content %}
  <section class="login">
    <div class="login__title-line">
        <h2 class="login__title main-title">Paramètres de mon compte</h2>
    </div>
    <div class="login__account">
      <svg class="login__account__icon" version="1.1" id="user-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 299.997 299.997" xml:space="preserve">
          <path d="M149.996,0C67.157,0,0.001,67.158,0.001,149.997c0,82.837,67.156,150,149.995,150s150-67.163,150-150
          C299.996,67.156,232.835,0,149.996,0z M150.453,220.763v-0.002h-0.916H85.465c0-46.856,41.152-46.845,50.284-59.097l1.045-5.587
          c-12.83-6.502-21.887-22.178-21.887-40.512c0-24.154,15.712-43.738,35.089-43.738c19.377,0,35.089,19.584,35.089,43.738
          c0,18.178-8.896,33.756-21.555,40.361l1.19,6.349c10.019,11.658,49.802,12.418,49.802,58.488H150.453z"/>
      </svg>
      <dl class="login__account__list">
        <div class="login__account__item">
            <dt class="login__account__term">Prénom</dt>
            <dd class="login__account__data">{{ user.first_name }}</dd>
        </div>
        <div class="login__account__item">
            <dt class="login__account__term">Nom</dt>
            <dd class="login__account__data">{{ user.last_name }}</dd>
        </div>
        <div class="login__account__item">
            <dt class="login__account__term">Adresse email</dt>
            <dd class="login__account__data">{{ user.email }}</dd>
        </div>
      </dl>   
    </div>
    <div class="login__forms">
        <form class="login__password-form" action="" method="post">
          <h3 class="login__password-form__title second-title">Modifier votre mot de passe</h3>
          {% csrf_token %}
          {% bootstrap_form change_password_form %}
          <input class="login__password-form__button cta cta--pink" type="submit" class="btn primary narrow" value="{% trans "Change password" context "User profile action" %}">
        </form>

        <!-- <form class="login__newsletters-form" action="" method="post">
          <h3 class="second-title">Préférences de newsletter</h3>
          {% csrf_token %}
        </form>         -->
    </div>
    
    
    <!-- {% include "account/partials/login_form.html" %} -->
  </section>
{% endblock content %}

