{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Log in" context "Login page title" %} — {{ block.super }}{% endblock %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="{% url 'home' %}" title="Aller sur la page accueil">Accueil</a></li>
            <li class="breadcrumb__item breadcrumb__item--current">Connexion</li>
        </ul>
    </div>
{% endblock breadcrumb %}

{% block content %}    
  <section class="login">
      <div class="login__title-line">
          <h2 class="login__title main-title">Connexion</h2>
          <a href="{% url 'account:signup' %}" title="Aller sur la page de création de compte" class="login__title-link">Pas encore de compte&nbsp;? Créez le votre&nbsp;!</a>
      </div>
      {% include "account/partials/login_form.html" %}
  </section>
{% endblock %}
  


