{% extends "account/password_reset_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Password Reset" context "Password reset done page title" %}{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="{% url 'home' %}" title="Aller sur la page accueil">Accueil</a></li>
            <li class="breadcrumb__item breadcrumb__item--current">{% trans "Password reset" context "Password reset page title" %}</li>
        </ul>
    </div>
{% endblock breadcrumb %}

{% block content %}
  <section class="login">
      <div class="login__title-line">
          <h2 class="login__title main-title">{% trans "Forgot your password?" context "Password reset form title" %}</h2>
      </div>
      
      {% if user.is_authenticated %}
      {% include "account/partials/already_logged_in.html" %}
      {% endif %}
      <p>{% blocktrans trimmed context "Password reset done text" %}
          We have sent you an e-mail.
          Please contact us if you do not receive it within a few minutes.
      {% endblocktrans %}</p>
  </section>

{% endblock %}
