{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_form from bootstrap4 %}

{% block title %}{% trans "Password reset" context "Password reset page title" %} — {{ block.super }}{% endblock %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="{% url 'home' %}" title="Aller sur la page accueil">Accueil</a></li>
            <li class="breadcrumb__item breadcrumb__item--current">{% trans "Password reset" context "Password reset page title" %}</li>
        </ul>
    </div>
{% endblock breadcrumb %}

{% block content %}
  <section class="login">
      <div class="login__title-line">
          <h2 class="login__title main-title">{% trans "Forgot your password?" context "Password reset form title" %}</h2>
      </div>
      
      <form method="post" novalidate class="login__form login__password-form">
          {% csrf_token %}
          <p>
              Merci de renseigner le courriel que vous aviez utilisé pour vous enregistrer dans notre magasin. 
          </p>
          <fieldset>
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="{{ next }}"/>
          </fieldset>
          <div class="row login__btn-group">
            <div class="col-12">
              <button class="btn primary narrow cta cta--pink login__password-form__button">
                {% trans "Continue" context "Password reset primary action" %}
              </button>
            </div>
          </div>
        </form>
  </section>

{% endblock %}