{% extends "base.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Sign Up" context "Signup page title" %} — {{ block.super }}{% endblock %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
  <section class="login">
      <div class="login__title-line">
          <h2 class="login__title main-title">Création d'un compte</h2>
          <a href="{% url 'account:login' %}" title="Aller sur la page de connexion" class="login__title-link">Déjà un compte&nbsp;? Connectez-vous&nbsp;!</a>
      </div>

      <div class="login__introduction">
          Rejoignez la communauté de L’Autre Monde en créant votre compte! Vous pourrez ajouter des commentaires sur les produits et placer des précommandes, mais aussi personnaliser vos newsletters pour ne rien manquer&nbsp;!
      </div>
      <form method="post" action="{% url 'account:signup' %}">
          {% csrf_token %}
          {{form}}
          <button type="submit" class="btn primary narrow">
            {% trans "Create an account" context "Signup form primary action" %}
          </button>
        </form>
      <form action="{% url 'account:signup' %}" method="post" class="login__form">
          {% csrf_token %}
          <div class="login__form__inputs login__form__signup__inputs">
             <div class="login__form__item">
                  <label for="first-name" class="login__form__label">Prénom *</label>
                  <input required="required" type="text" id="first-name" name="first_name" class="login__form__input">
              </div>
              <div class="login__form__item">
                  <label for="last-name" class="login__form__label">Nom *</label>
                  <input required="required" type="text" id="last-name" name="last_name" class="login__form__input">
              </div>
              <div class="login__form__item">
                  <label for="email" class="login__form__label">Adresse email *</label>
                  <input required="required" type="email" id="email" name="email" class="login__form__input">
              </div>
              <div class="login__form__item">
                  <label for="password" class="login__form__label">Mot de passe *</label>
                  <input required="required" type="password" id="password" name="password" class="login__form__input">
              </div>
          </div>
          <div class="login__form__newsletter">
              <label for="newsletter" class="login__form__newsletter__label">M'abonner à la newsletter générale</label>
              <input type="checkbox" checked="checked" class="login__form__newsletter__input">
              <span class="login__form__newsletter__custom-checkbox"></span>
          </div>

          <div class="login__form__buttons login__form__buttons--signup">
              <a href="{% url 'account:login' %}" title="Aller me connecter" class="cta cta--dark-blue login__form__button login__form__button--secondary">J'ai déjà un compte</a>
              <input class="cta cta--pink login__form__button login__form__button--main" type="submit" value="Créer mon compte">
          </div>
      </form>
  </section>
{% endblock %}
