.footer-content {
    color: white;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding: 50px 0 80px;
    font-weight: 400;   
    font-size: 1.125rem;
    line-height: 1.7;
}

.footer-content__column {
    flex: 1 0 0%;
    max-width: 350px;
}

.footer-content__title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer-content__text--line {
    display: block;
    margin-top: 10px;
}

.footer-content__link {
    font-weight: 600;
    text-decoration: underline;
}

.footer-content__credentials {
    position: absolute;
    bottom: 20px;
    left: 0;

    font-size: 0.8rem;
    font-weight: 300;

    &--link {
        cursor: pointer;
        font-weight: 500;
    }
}