.products-h-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &:first-child {
        margin-right: 100px;
    }
}

.products-h-list__title {
    margin-bottom: 20px;
}

.products-h-list__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.products-h-list__product {
    margin: 20px 0;
}

.products-h-list__link {
    text-align: right;
    margin-top: 25px;
    font-weight: 600;
    color: $am-blue;
    text-decoration: underline;
}