.product {
    background-color: white;
    box-shadow: 0 0 7px 6px $t-gray-10;
    position: relative;
}

.product__infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product__title {
    text-transform: uppercase;
    color: $am-blue;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 5px;
}

.product__short-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 50px;
}

.product__arrow {
    color: $neutral-gray;
}

.product__arrow-icon {
    fill: currentColor;
}

.product__more-infos {
    display: flex;
    opacity: 0;
    transition: opacity $delay ease-out;
    font-size: 0.8rem;
    margin-top: 8px;
    //height: 0;
}

.product__more-info {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: $am-blue;
    
    &:not(:last-child) {
        margin-right: 15px;
    }
}

.product__more-info__svg {
    margin-right: 5px;
    fill: $accent-red;
}

.product:hover, .product:focus {

    .product__more-infos {
        opacity: 1;
        height: auto;
    }
}

@media screen and (max-width: 450px) { 
    .product__more-infos {
        opacity: 1;
        height: auto;
        flex-wrap: wrap;   
    }

    .product__more-info {
        margin-bottom: 3px;
    }
}