.product-h-thumb {
    padding: 30px;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 550px;
    height: 160px;
    transition: all 0.12s ease-in;
    overflow: hidden;

    .product__img-wrapper {
        margin-right: 10px;
    }
    
    .product__arrow {
        position: absolute;
        right: 20px;
        top: calc(50% - 10px);
    }

    border-left-width: 5px;
    border-left-style: solid;
}

.product-h-thumb--news {
    border-color: $new-product;
}

.product-h-thumb--coming-soon {
    border-color: $coming-soon-product;
}

.product-h-thumb:hover, .product-h-thumb:focus {
    height: 180px;
    position: relative;
    margin: 10px 0;
    box-shadow: 0 0 7px 6px $t-gray-25;
}