.product-thumb {
    width: 250px;
    height: 300px;
    border-radius: 2px;
    position: relative;
    padding: 20px;
    margin: 25px 0;
    transition: all $delay ease-out;

    .product__infos {
        margin-top: 20px;
    }

    .product__more-infos {
        opacity: 0;
        position: absolute;
        bottom: 20px;
        left: 20px;
        max-width: 100%;
    }

    .product__img-wrapper {
        display: flex;
        justify-content: center;
    }

    .product__img {
        max-width: 125px;
        max-height: 125px;
    }
}

.product-thumb:hover, .product-thumb:focus {
    height: 325px;
    margin-bottom: 0;
    padding-bottom: 60px;
    box-shadow: 0 0 7px 6px $t-gray-25;

    .product__more-infos {
        opacity: 1;
    }
}