{% extends "base.html" %}
{% load i18n %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="{% url 'home' %}" title="Aller sur la page accueil">Accueil</a></li>
            <li class="breadcrumb__item breadcrumb__item--current">Photos</li>
        </ul>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <section class="photos">
        <h2 class="main-title">Galerie photos</h2>

        <ul class="photos__list">
            {% for photo in images %}
            <li tabindex="0" class="photos__item">
                <figure class="photos__figure">
                    <a tabindex="-1" data-lightbox="photo" class="process__link" href="/media/{{ photo.image }}" data-title="{% if photo.alt %}{{ photo.alt }}{% endif %}">
                        <img class="photos__image"
                             src="{{ photo.image.crop.255x255 }}"
                             srcset="{{ photo.image.crop.255x255 }} 1x, {{ photo.image.crop.510x510 }} 2x"
                             alt="{{ photo.alt }}"
                             width="255"
                             height="255">
                        <div class="photos__overlay"></div>
                    </a>
                </figure>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}