$am-blue: #13377C;
$dark-blue: #061646;
$blue-gray: #A8AAD1;
$light-blue-gray: #E4EDFF;
$neutral-gray: #ACB8CE;
$accent-red: #FF2944;
$accent-turquoise: #4EECBF;
$red: #AD0A0A;

$new-product: #4b8f8c;
$coming-soon-product: #eca72c;

$t-blue-gray-75: rgba(228, 237, 255, 0.75);
$t-blue-gray-30: rgba(228, 237, 255, 0.30);
$t-gray-10: rgba(172, 184, 206, 0.1);
$t-gray-25: rgba(172, 184, 206, 0.25);
$t-gray-40: rgba(172, 184, 206, 0.4);