.header {
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 850px) {
    .header {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 750px){

    .header {
        position: relative;
        margin-bottom: 60px;
    }

    .header__main-bar {
        order: 0;
    }

    .header__top-nav {
        order: 2;
    }
}