.main-nav {
    display: flex;
    text-transform: uppercase;
    font-weight: 450;
    letter-spacing: 1px;
    font-size: 1rem;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

.main-nav__list {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

.main-nav__item {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    position: relative;

    &:hover {
        .main-nav__link {
            background: white;
            color: $am-blue;
        }
    }
}

.main-nav__link {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color $delay ease-in-out, color $delay ease-in-out;
    z-index: 10;
}

.main-nav__sub-nav {
    padding: 5px 0;
    box-shadow: 0 2px 4px 0 $t-gray-40;
    font-size: 1rem;
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 130%;
    border-radius: 2px;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    display: flex;
    flex-direction: column;
}

.main-nav__sub-item {
    padding: 5px 10px;
    display: flex;
    font-size: 0.8em;
}

.main-nav__sub-link {
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    transition: background-color $delay ease-in-out, color $delay ease-in-out;
}

.main-nav__sub-nav:hover {
    background-color: white;
    color: $am-blue;

    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0s, z-index 0s linear 0s;

    .main-nav__sub-item:hover {
        .main-nav__sub-link {
            color: white;
            background-color: $am-blue;
        }
    }
}

.main-nav__link:hover, .main-nav__link:focus { //
    ~ .main-nav__sub-nav { //
        // line-height: 1;
        // text-indent: 0;
        //max-height: 500px;
        background-color: white;
        color: $am-blue;

        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;

        .main-nav__sub-item:hover {
            .main-nav__sub-link {
                color: white;
                background-color: $am-blue;
            }
        }
    } 
}