.main-bar {
    background-color: $am-blue;
    color: white;
    height: 90px;
    display: flex;
}

.main-bar__content {
    @include max-width-margin;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.main-bar__title {
    display: flex;
    align-items: flex-start;
}

.main-bar__logo {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.main-bar__svg {
    fill: currentColor;
    height: 55px;
}