.top-nav {
    background-color: white;
    max-width: $max-width;
    margin: 0 auto;
    width: 100%;
    min-height: 110px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav__login {
    color: $am-blue;
    font-weight: 600;
    text-decoration: underline;
}

.top-nav__user {
}