{% extends "dashboard/base.html" %}

{% load i18n %}
{% load price from taxed_prices %}
{% load staticfiles %}
{% load status %}
{% load utils %}

{% block title %}
  Photos - {{ block.super }}
{% endblock %}
{% comment %} {% block body_class %}body-products{% endblock %} {% endcomment %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Products" context "Dashboard products list" %}
    </li>
  </ul>
{% endblock %}
{% block content %}
  photos
{% endblock %}
