.cta {
    font-weight: 500;
    cursor: pointer;
    padding: 15px;
    border-radius: 2px;
    border: 2px solid transparent;
    transition: all $delay ease-in-out;
    box-shadow: 0 0 4px 2px $t-gray-40;
}

.cta--pink {
    background-color: $accent-red;
    color: white;

    &:hover, &:focus {
        border-color: $accent-red;
        background-color: white;
        color: $accent-red;
    }
}