// Raleway
@font-face {
    font-family: Raleway;
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/raleway/Raleway-Light.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/raleway/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/raleway/Raleway-Italic.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 450;
    font-style: normal;
    src: url("../fonts/raleway/Raleway-Medium.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 450;
    font-style: italic;
    src: url("../fonts/raleway/Raleway-MediumItalic.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/raleway/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/raleway/Raleway-SemiBoldItalic.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/raleway/Raleway-Bold.ttf");
}

