.about {
    max-width: $max-width;
    margin: 0 auto;
}

.about__title {
    margin-bottom: 25px;
    
}

.about__description {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    display: flex;
}

.about__description__inner {
    width: 60%;
}

.about__description__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: $am-blue;
    margin-bottom: 10px;
    display: inline-flex;
    z-index: 10;
}

.about__description__content {
    z-index: 10;
    max-width: 600px;
}

.about__description__image-wrapper {
    position: absolute;
    top: -100px;
    right: 10%;
    z-index: -1;
    max-width: 350px;
}

.about__description__image {
    max-width: 100%;
    height: auto;
}

.about__infos {
    margin-bottom: 50px;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.about__useful-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $am-blue;
    color: white;
    padding: 30px;
    max-width: 400px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.about-useful-infos__item {
    display: flex;
    align-items: flex-start;  
    justify-content: flex-start;  

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}


.about-useful-infos__icon {
    color: $neutral-gray;
    flex-basis: 25px;
    height: 30px;
    margin-right: 20px;
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}

.about-useful-infos__svg {
    fill: currentColor;
}

.about-useful-infos__mail {
    font-weight: 500;
    text-decoration: underline;
}

.about__map-wrapper {
    display: inline-flex;
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.about__map {
    height: 100%;
    width: 100%;
}

.about__contact {
    margin-bottom: 50px;
}

.about__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.about__contact__title {
    margin-bottom: 30px;
}

.about__form__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.about__form__person {
    display: flex;
    flex-direction: column;
    width: 39%;
    margin-right: 2%;
    justify-content: space-between;
}

.about__form__person__question {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.about__form__message {
    width: 59%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.about__form__message__input {
    font-family: $raleway;
    border: 1px solid $light-blue-gray;
    box-shadow: 0 0 5px $t-gray-40;
    padding: 8px;
    border-radius: 2px;
    font-size: 1rem;
    color: $dark-blue;
}

.about__form__submit {
    align-self: flex-end;
}

.about__form__label {
    color: $am-blue;
    font-weight: 450;
    margin-bottom: 3px;
}

.about__form__input {
    @include default-input;
    font-family: $raleway;
    font-weight: 450;
    color: $dark-blue;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    min-width: 100px;
}

.about__form__submit {
    padding: 10px 50px;
    margin-top: 25px;
}

@media screen and (max-width: 1220px) {
    .about {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1100px) {
    .about__description__image-wrapper {
        right: 3%;
    } 
}

@media screen and (max-width: 900px) {
    .about__description__image-wrapper {
        max-width: 290px;
        right: 0;
    } 
}

@media screen and (max-width: 800px) {
    .about__form__inner {
        flex-direction: column;
        align-items: stretch;
    }

    .about__form__person {
        width: 100%;
    }

    .about__form__message {
        width: 100%;
        margin-top: 20px;
    }

    .about__description__image-wrapper {
        display: none;
    }

    .about__description__inner {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .about__infos {
        flex-direction: column;
    }

    .about__useful-infos {
        width: 100%;
        max-width: 100%;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 0;
    }

    .about-useful-infos__item {
        align-items: center;    
    }

    .about__map-wrapper {
        height: 300px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}