.catalogue-products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalogue-products__item {
    display: flex;
    width: 250px;
    height: 300px;
    position: relative;
    margin: 25px 0;
}