{% extends "dashboard/base.html" %}
{% load i18n %}
{% load price from taxed_prices %}
{% load status %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block content %}      
      <div class="card">
        <div class="data-table-header{% if not low_stock %} data-table-header--no-data{% endif %}">
          <span class="data-table-title" title="{% blocktrans trimmed with counter=low_stock.count context "Dashboard homepage summary header title" %}Showing last {{ counter }} results{% endblocktrans %}">
            {% trans "Products with low stock" context "Dashboard homepage table title" %}
          </span>
        </div>
        {% if low_stock %}
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  <th>
                    {% trans "Product name" context "Low stock product list" %}
                  </th>
                  <th class="right-align">
                    {% trans "Stock left" context "Low stock product list" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for product in low_stock %}
                  <tr data-action-go="{% url "dashboard:product-details" pk=product.pk %}">
                    <td>
                      {{ product }}
                    </td>
                    <td class="right-align">
                      {{ product.total_stock }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="card-content card-content--no-data not-found">
            <p class="grey-text">
              {% trans "No products are low in stock." context "Empty low stock table message" %}
            </p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
