.breadcrumb {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto 30px;
    padding: 15px 0 0 0;
    color: $am-blue;
    font-weight: 500;
    background-color: transparent;
}

.breadcrumb__list {
    display: flex;
    flex-wrap: wrap;
}

.breadcrumb__item {
    display: flex;
    margin-bottom: 2px;

    &:not(&--current) {
        &::after {
            content: ">";
            margin: 0 10px;
            font-weight: 400;
        }
    }
}

.breadcrumb__link {
    text-decoration: underline;
}

@media screen and (max-width: 1220px) {
    .breadcrumb {
        padding: 15px 10px 0;
    }
}